In [5]:
import numpy as np
import pandas as pd
import os
import env

## Acquire data from the cloud database.

In [11]:
def acquire_zillow():
    '''
    This function will retrieve zillow home data for 2017 properties. It will only get
    single family residential properties. the function will attempt to open the data from 
    a local csv file, if one is not found, it will download the data from the codeup
    database. An env file is needed in the local directory in order to run this file.
    '''
    if os.path.exists('zillow_2017.csv'):
        print('opening data from local file')
        df = pd.read_csv('zillow_2017.csv', index_col=0)
    else:
        # run sql query and write to csv
        print('local file not found')
        print('retrieving data from sql server')
        query = '''
SELECT *
FROM properties_2017
JOIN predictions_2017
	USING (parcelid)
LEFT JOIN airconditioningtype
	USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype
	USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype
	USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype
	USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype
	USING (propertylandusetypeid)
LEFT JOIN storytype
	USING (storytypeid)
LEFT JOIN typeconstructiontype
	USING (typeconstructiontypeid)
WHERE latitude IS NOT NULL
	AND longitude IS NOT NULL
    AND parcelid IN (
		SELECT parcelid FROM unique_properties)
;
        '''
        connection = env.get_db_url('zillow')
        df = pd.read_sql(query, connection)
        df.to_csv('zillow_2017.csv')
    
    # renaming column names to one's I like better
    df = df.rename(columns = {'bedroomcnt':'bedrooms', 
                              'bathroomcnt':'bathrooms', 
                              'calculatedfinishedsquarefeet':'area',
                              'garagecarcnt':'cars_garage',
                              'garagetotalsqft':'garage_sqft',
                              'lotsizesquarefeet':'lot_size',
                              'poolcnt':'pools',
                              'regionidcity':'region',
                              'yearbuilt':'year_built',
                              'taxvaluedollarcnt':'tax_value'
                              })
    
    df = df.drop(columns='id')
    
    return df

In [12]:
df = acquire_zillow()

local file not found
retrieving data from sql server

In [13]:
df

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,0,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,1,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,2,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,3,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,4,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77575,NaN,NaN,261.0,2.0,NaN,NaN,NaN,11000655,673515,NaN,...,77609,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,None
77576,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17239384,2968375,NaN,...,77610,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,None
77577,NaN,NaN,261.0,2.0,NaN,NaN,1.0,12773139,1843709,NaN,...,77611,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,None
77578,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12826780,1187175,NaN,...,77612,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,None
77579,NaN,NaN,261.0,7.0,NaN,NaN,NaN,13083743,2455685,NaN,...,77613,-0.197755,2018-05-25,None,None,None,Floor/Wall,Single Family Residential,None,None

## Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [23]:
df = df.drop(columns='id')

In [26]:
def nulls_by_col(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    percent_missing = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

def nulls_by_row(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values in a row
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': percent_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [28]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0                     NaN          NaN                  261.0
1                     NaN          NaN                  261.0
2                     NaN          NaN                  261.0

   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid  basementsqft  bathrooms  ...  \
0                    NaN  14297519           NaN        3.5  ...
1                    NaN  17052889           NaN        1.0  ...
2                    NaN  14186244           NaN        2.0  ...

   censustractandblock  logerror  transactiondate  airconditioningdesc  \
0         6.059063e+13  0.025595       2017-01-01                 None
1         6.111001e+13  0.055619       2017-01-01                 None
2         6.059022e+13  0.005383       2017-01-01                 None

   architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
0                    None               None                 None
1                    None               None                 None
2                    None               None                 None

         propertylandusedesc  storydesc  typeconstructiondesc
0  Single Family Residential       None                  None
1  Single Family Residential       None                  None
2  Single Family Residential       None                  None

[3 rows x 67 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 67 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   typeconstructiontypeid      223 non-null    float64
 1   storytypeid                 50 non-null     float64
 2   propertylandusetypeid       77580 non-null  float64
 3   heatingorsystemtypeid       49572 non-null  float64
 4   buildingclasstypeid         15 non-null     float64
 5   architecturalstyletypeid    207 non-null    float64
 6   airconditioningtypeid       25007 non-null  float64
 7   parcelid                    77580 non-null  int64
 8   basementsqft                50 non-null     float64
 9   bathrooms                   77580 non-null  float64
 10  bedrooms                    77580 non-null  float64
 11  buildingqualitytypeid       49810 non-null  float64
 12  calculatedbathnbr           76964 non-null  float64
 13  decktypeid                  614 non-null    float64
 14  finishedfloor1squarefeet    6037 non-null   float64
 15  area                        77379 non-null  float64
 16  finishedsquarefeet12        73924 non-null  float64
 17  finishedsquarefeet13        42 non-null     float64
 18  finishedsquarefeet15        3027 non-null   float64
 19  finishedsquarefeet50        6037 non-null   float64
 20  finishedsquarefeet6         386 non-null    float64
 21  fips                        77580 non-null  float64
 22  fireplacecnt                8289 non-null   float64
 23  fullbathcnt                 76964 non-null  float64
 24  cars_garage                 25520 non-null  float64
 25  garage_sqft                 25520 non-null  float64
 26  hashottuborspa              1539 non-null   float64
 27  latitude                    77580 non-null  float64
 28  longitude                   77580 non-null  float64
 29  lot_size                    69322 non-null  float64
 30  pools                       16174 non-null  float64
 31  poolsizesum                 869 non-null    float64
 32  pooltypeid10                465 non-null    float64
 33  pooltypeid2                 1074 non-null   float64
 34  pooltypeid7                 15079 non-null  float64
 35  propertycountylandusecode   77580 non-null  object
 36  propertyzoningdesc          50477 non-null  object
 37  rawcensustractandblock      77580 non-null  float64
 38  region                      76108 non-null  float64
 39  regionidcounty              77580 non-null  float64
 40  regionidneighborhood        30974 non-null  float64
 41  regionidzip                 77530 non-null  float64
 42  roomcnt                     77580 non-null  float64
 43  threequarterbathnbr         10106 non-null  float64
 44  unitcnt                     50704 non-null  float64
 45  yardbuildingsqft17          2393 non-null   float64
 46  yardbuildingsqft26          70 non-null     float64
 47  year_built                  77310 non-null  float64
 48  numberofstories             17599 non-null  float64
 49  fireplaceflag               172 non-null    float64
 50  structuretaxvaluedollarcnt  77465 non-null  float64
 51  tax_value                   77579 non-null  float64
 52  assessmentyear              77580 non-null  float64
 53  landtaxvaluedollarcnt       77578 non-null  float64
 54  taxamount                   77575 non-null  float64
 55  taxdelinquencyflag          2900 non-null   object
 56  taxdelinquencyyear          2900 non-null   float64
 57  censustractandblock         77333 non-null  float64
 58  logerror                    77580 non-null  float64
 59  transactiondate             77580 non-null  object
 60  airconditioningdesc         25007 non-null  object
 61  architecturalstyledesc      207 non-null    object
 62  buildingclassdesc           15 non-null     object
 63  heatingorsystemdesc         49572 non-null  object
 64  propertylandusedesc         77580 non-null  object
 65  storydesc                   50 non-null     object
 66  typeconstructiondesc        223 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 39.7+ MB
None
=====================================================


Dataframe Description:
       typeconstructiontypeid  storytypeid  propertylandusetypeid  \
count              223.000000         50.0           77580.000000
mean                 6.040359          7.0             261.824465
std                  0.556035          0.0               5.141564
min                  4.000000          7.0              31.000000
25%                  6.000000          7.0             261.000000
50%                  6.000000          7.0             261.000000
75%                  6.000000          7.0             266.000000
max                 13.000000          7.0             275.000000

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49572.000000            15.000000                207.000000
mean                3.921811             3.933333                  7.386473
std                 3.594770             0.258199                  2.728030
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid  basementsqft     bathrooms  ...  \
count           25007.000000  7.758000e+04     50.000000  77580.000000  ...
mean                1.812013  1.300828e+07    679.720000      2.298492  ...
std                 2.965768  3.519376e+06    689.703546      0.996726  ...
min                 1.000000  1.071186e+07     38.000000      0.000000  ...
25%                 1.000000  1.153820e+07    273.000000      2.000000  ...
50%                 1.000000  1.253056e+07    515.000000      2.000000  ...
75%                 1.000000  1.421135e+07    796.500000      3.000000  ...
max                13.000000  1.676893e+08   3560.000000     18.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17599.000000          172.0                7.746500e+04
mean          1.434286            1.0                1.892796e+05
std           0.544515            0.0                2.304095e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.417100e+04
50%           1.000000            1.0                1.364020e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

          tax_value  assessmentyear  landtaxvaluedollarcnt      taxamount  \
count  7.757900e+04         77580.0           7.757800e+04   77575.000000
mean   4.901476e+05          2016.0           3.011500e+05    5995.927626
std    6.537942e+05             0.0           4.927219e+05    7628.816490
min    1.000000e+03          2016.0           1.610000e+02      19.920000
25%    2.068990e+05          2016.0           8.529325e+04    2712.650000
50%    3.588780e+05          2016.0           2.031810e+05    4448.230000
75%    5.690000e+05          2016.0           3.667398e+05    6926.885000
max    4.906124e+07          2016.0           4.895220e+07  586639.300000

       taxdelinquencyyear  censustractandblock      logerror
count         2900.000000         7.733300e+04  77580.000000
mean            14.088276         6.049667e+13      0.016800
std              2.181281         1.533329e+12      0.170739
min              3.000000         6.037101e+13     -4.655420
25%             14.000000         6.037311e+13     -0.024310
50%             15.000000         6.037603e+13      0.006675
75%             15.000000         6.059042e+13      0.039291
max             99.000000         4.830301e+14      5.262999

[8 rows x 56 columns]
=====================================================
DataFrame value counts:
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      220
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64

(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64

(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3289
(250.6, 275.0]    74276
Name: propertylandusetypeid, dtype: int64

(0.976, 3.3]    33646
(3.3, 5.6]          0
(5.6, 7.9]      14885
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       60
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      850
Name: heatingorsystemtypeid, dtype: int64

(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64

(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   173
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64

(0.987, 2.2]    23186
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64

(10554877.537, 26409601.2]    77548
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       30
Name: parcelid, dtype: int64

(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64

(-0.019, 1.8]    14963
(1.8, 3.6]       56573
(3.6, 5.4]        5078
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathrooms, dtype: int64

(-0.017, 1.6]     4228
(1.6, 3.2]       49660
(3.2, 4.8]       17551
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedrooms, dtype: int64

(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9509
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64

(0.982, 2.7]    52531
(2.7, 4.4]      21746
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64

(37.131, 730.8]      702
(730.8, 1417.6]     3036
(1417.6, 2104.4]    1736
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64

(92.487, 3679.2]      74068
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: area, dtype: int64

(106.198, 2308.1]     59743
(2308.1, 4488.2]      12884
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64

(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64

(31.576, 1286.3]      3146
(1286.3, 2528.6]      2558
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64

(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64

(6036.925, 6044.4]    50697
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20631
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6252
Name: fips, dtype: int64

(0.995, 1.4]    7018
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64

(0.982, 2.7]    52548
(2.7, 4.4]      22447
(4.4, 6.1]       1701
(6.1, 7.8]        122
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(-0.015, 1.4]     5921
(1.4, 2.8]       18638
(2.8, 4.2]         888
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: cars_garage, dtype: int64

(-4.252000000000001, 425.1]    11962
(425.1, 850.2]                 13180
(850.2, 1275.3]                  324
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garage_sqft, dtype: int64

(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1539
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64

(33338047.759000003, 33487451.0]     1048
(33487451.0, 33635375.0]             5324
(33635375.0, 33783299.0]            10070
(33783299.0, 33931223.0]            14828
(33931223.0, 34079147.0]            14273
(34079147.0, 34227071.0]            18948
(34227071.0, 34374995.0]             6276
(34374995.0, 34522919.0]             3148
(34522919.0, 34670843.0]             2323
(34670843.0, 34818767.0]             1342
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       2001
(-119091260.0, -118899182.0]       1499
(-118899182.0, -118707104.0]       2667
(-118707104.0, -118515026.0]       5938
(-118515026.0, -118322948.0]      15474
(-118322948.0, -118130870.0]      15408
(-118130870.0, -117938792.0]      14256
(-117938792.0, -117746714.0]      12713
(-117746714.0, -117554636.0]       7403
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    69035
(697313.4, 1394390.8]               228
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lot_size, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16174
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pools, dtype: int64

(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      323
(466.8, 614.4]      307
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       465
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0

(7.819, 329.0]      1639
(329.0, 647.0]       607
(647.0, 965.0]        95
(965.0, 1283.0]       35
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64

(11.143, 97.6]    24
(97.6, 183.2]     14
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     2
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64

(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1754
(1920.0, 1939.2]       6718
(1939.2, 1958.4]      18513
(1958.4, 1977.6]      20411
(1977.6, 1996.8]      19129
(1996.8, 2016.0]      10691
Name: year_built, dtype: int64

(0.994, 1.5]    10397
(1.5, 2.0]       6764
(2.0, 2.5]          0
(2.5, 3.0]        437
(3.0, 3.5]          0
(3.5, 4.0]          0
(4.0, 4.5]          0
(4.5, 5.0]          0
(5.0, 5.5]          0
(5.5, 6.0]          1
Name: numberofstories, dtype: int64

(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       172
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64

(-11377.747, 1142218.6]     76858
(1142218.6, 2284393.2]        494
(2284393.2, 3426567.8]         74
(3426567.8, 4568742.4]         20
(4568742.4, 5710917.0]          9
(5710917.0, 6853091.6]          2
(6853091.6, 7995266.2]          6
(7995266.2, 9137440.8]          0
(9137440.8, 10279615.4]         1
(10279615.4, 11421790.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64

(-48060.236999999994, 4907023.6]    77352
(4907023.6, 9813047.2]                187
(9813047.2, 14719070.8]                26
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: tax_value, dtype: int64

(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      77580
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64

(-48791.03799999999, 4895364.7]    77469
(4895364.7, 9790568.4]                88
(9790568.4, 14685772.1]               14
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64

(-566.6999999999999, 58681.858]    77360
(58681.858, 117343.796]              179
(117343.796, 176005.734]              22
(176005.734, 234667.672]               9
(234667.672, 293329.61]                4
(293329.61, 351991.548]                0
(351991.548, 410653.486]               0
(410653.486, 469315.424]               0
(469315.424, 527977.362]               0
(527977.362, 586639.3]                 1
Name: taxamount, dtype: int64

Y    2900
Name: taxdelinquencyflag, dtype: int64

(2.903, 12.6]     351
(12.6, 22.2]     2548
(22.2, 31.8]        0
(31.8, 41.4]        0
(41.4, 51.0]        0
(51.0, 60.6]        0
(60.6, 70.2]        0
(70.2, 79.8]        0
(79.8, 89.4]        0
(89.4, 99.0]        1
Name: taxdelinquencyyear, dtype: int64

(59948352007016.984, 102636920499301.5]    77332
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64

(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       142
(-0.688, 0.304]     75532
(0.304, 1.296]       1688
(1.296, 2.287]        103
(2.287, 3.279]         73
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64

2017-06-30    1194
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-03-12       1
2017-07-22       1
2017-08-05       1
2017-08-06       1
2018-05-25       1
Name: transactiondate, Length: 265, dtype: int64

Central          23186
Yes               1575
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64

Contemporary     173
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64

Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64

Central       33633
Floor/Wall    14108
Yes             850
Forced air      777
Solar           104
None             60
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

Single Family Residential                     52442
Condominium                                   19342
Duplex (2 Units, Any Combination)              2021
Planned Unit Development                       1947
Quadruplex (4 Units, Any Combination)           729
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Residential General                              42
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

Basement    50
Name: storydesc, dtype: int64

Frame       220
Masonry       1
Metal         1
Concrete      1
Name: typeconstructiondesc, dtype: int64

=====================================================
nulls in dataframe by column:
                           num_rows_missing  percent_rows_missing
buildingclassdesc                     77565             99.980665
buildingclasstypeid                   77565             99.980665
finishedsquarefeet13                  77538             99.945862
storydesc                             77530             99.935550
basementsqft                          77530             99.935550
...                                     ...                   ...
parcelid                                  0              0.000000
propertycountylandusecode                 0              0.000000
bathrooms                                 0              0.000000
rawcensustractandblock                    0              0.000000
regionidcounty                            0              0.000000

[67 rows x 2 columns]
=====================================================
nulls in dataframe by row:
       num_cols_missing  percent_cols_missing
41670                48             71.641791
13457                48             71.641791
55652                48             71.641791
14547                47             70.149254
61287                47             70.149254
...                 ...                   ...
58524                24             35.820896
66285                24             35.820896
18955                24             35.820896
58338                23             34.328358
32898                23             34.328358

[77580 rows x 2 columns]
=====================================================

### Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.
The output should look like the table below:

In [29]:
null_cols = nulls_by_col(df)

In [30]:
null_cols

                           num_rows_missing  percent_rows_missing
buildingclassdesc                     77565             99.980665
buildingclasstypeid                   77565             99.980665
finishedsquarefeet13                  77538             99.945862
storydesc                             77530             99.935550
basementsqft                          77530             99.935550
...                                     ...                   ...
parcelid                                  0              0.000000
propertycountylandusecode                 0              0.000000
bathrooms                                 0              0.000000
rawcensustractandblock                    0              0.000000
regionidcounty                            0              0.000000

[67 rows x 2 columns]

### Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [31]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52442
Condominium                                   19342
Duplex (2 Units, Any Combination)              2021
Planned Unit Development                       1947
Quadruplex (4 Units, Any Combination)           729
Triplex (3 Units, Any Combination)              539
Cluster Home                                    335
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Residential General                              42
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

In [36]:
homes = ((df.propertylandusedesc =='Single Family Residential') |
          (df.propertylandusedesc == 'Mobile Home') |
         (df.propertylandusedesc =='Manufactured, Modular, Prefabricated Homes'))
df = df[homes]

In [38]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52442
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       59
Name: propertylandusedesc, dtype: int64

### Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [39]:
def handle_missing_values(df, prop_required_columns=0.5, prop_required_rows=0.75):
    '''
    This function takes in a dataframe, the percent of columns and rows
    that need to have values/non-nulls
    and returns the dataframe with the desired amount of nulls left.
    '''
    column_threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=column_threshold)
    row_threshold = int(round(prop_required_rows * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=row_threshold)
    return df

In [40]:
handle_missing_values(df, prop_required_columns=0.5, prop_required_rows=0.75)

,propertylandusetypeid,heatingorsystemtypeid,parcelid,bathrooms,bedrooms,buildingqualitytypeid,calculatedbathnbr,area,finishedsquarefeet12,fips,...,structuretaxvaluedollarcnt,tax_value,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
0,261.0,NaN,14297519,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,None,Single Family Residential
1,261.0,NaN,17052889,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,None,Single Family Residential
2,261.0,NaN,14186244,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,None,Single Family Residential
3,261.0,2.0,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential
6,261.0,2.0,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Central,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77575,261.0,2.0,11000655,2.0,2.0,6.0,2.0,1286.0,1286.0,6037.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,Central,Single Family Residential
77576,261.0,NaN,17239384,2.0,4.0,NaN,2.0,1612.0,1612.0,6111.0,...,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,None,Single Family Residential
77577,261.0,2.0,12773139,1.0,3.0,4.0,1.0,1032.0,1032.0,6037.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,Central,Single Family Residential
77578,261.0,2.0,12826780,2.0,3.0,6.0,2.0,1762.0,1762.0,6037.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,Central,Single Family Residential
77579,261.0,7.0,13083743,2.0,3.0,4.0,2.0,1050.0,1050.0,6037.0,...,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13,-0.197755,2018-05-25,Floor/Wall,Single Family Residential